
#@ load("@ytt:data", "data")

---
apiVersion: packaging.carvel.dev/v1alpha1
kind: PackageInstall
metadata:
  name: externaldns
  namespace: #@ data.values.external_dns.namespace
  annotations:
    kapp.k14s.io/change-group: external-dns
    kapp.k14s.io/change-rule: "delete after deleting tap"
    ext.packaging.carvel.dev/ytt-paths-from-secret-name.1: azure-dns-secret-overlay
spec:
  packageRef:
    refName: external-dns.tanzu.vmware.com
    versionSelection:
      constraints: #@ str(data.values.external_dns.version)
  serviceAccountName: tap-install-gitops-sa
  values:
  - secretRef:
      name: external-dns-values
